<div class="wrapper position-relative">
    <div class="container-fluid px-5">
       <div class="step_bar_content ps-5 pt-5">
          <h5 class="text-black bold text-uppercase d-inline-block">OGSO SMART PRODUCT SELECTOR</h5>
       </div>
       <div class="progress_bar steps_bar mt-3 ps-5 d-inline-block">
        <div class="step rounded-pill d-inline-block text-center position-relative active current">1</div>
        <div class="step rounded-pill d-inline-block text-center position-relative">2</div>
        <div class="step rounded-pill d-inline-block text-center position-relative">3</div>
        <div class="step rounded-pill d-inline-block text-center position-relative">4</div>
        <div class="step rounded-pill d-inline-block text-center position-relative">5</div>
        <div class="step rounded-pill d-inline-block text-center position-relative">6</div>
   
     </div>
       <div class="multisteps_form position-relative" id="wizard" >
    
     
  
                <!------------------------- Step-4 ----------------------------->
      <!------------------------- Step-1 ----------------------------->
  <div class="multisteps_form_panel active" data-animation="slideVert">
    <div class="form_content">
       <div class="row">
          <div class="col-lg-4 ">
             <div class="form_title ps-5  ">
      <span  class="title text-black font-sans text-3xl font-bold mb-5 ">LET'S PICK <br>THE PERFECT APPARATUS <br>FOR YOU</span>

      </div>
 </div>
          <div class="col-lg-4 text-center">
             <div class="form_img">
                <img src="./assets/images/bg_1.png" alt="image_not_found">
             </div>
          </div>
          <div class="col-lg-4 text-xl ">
            <h6 class="'font-serif">Weight, width, length and camber are unique to the rider , And this is depending on the style, capabilities, age, height, weight, purpose and situation.<br>

                We developed this app in order to help you pick the appropriate ogso product for your needs and preferences.<br>
                
                - OGSO Team</h6>
        </div>
       </div>
    </div>
    <!---------- Form Button ---------->
    <div class="form_btn py-5 d-flex justify-content-center align-items-center">
        <button type="button" class=" f_btn rounded-pill active text-uppercase" routerLink="/choose-your-gear"> Next <span><i class="fas fa-arrow-right ps-1"></i></span></button>
     </div>

 </div>
         
       </div>
    </div>
    
  </div>


  